.formato{

    .tit{
        color: #208761;
        font-family: 'poppins-bold'!important;
        font-size: 12PX;
    }
    .texto{
        color: #727B82;
        font-family: 'poppins-bold'!important;
        font-size: 8PX;
    }
    .container{
        display: inline-block;
        overflow: hidden; 
        padding: 0px;
        margin: 0px;
    }
}

.sobre:hover{
    cursor: pointer;
}

img:hover{
    transform: scale(1.5);
	z-index: 100;
    white-space: normal;
  }

.green {
    background-color: green;
}

.red {
    background-color: red;
}